@media screen and (max-width: 820px) {
    .look {
        left: 50px;
        right: 50px;
    }

    .lead {
        .section {
            form {
                display: flex;
                flex-wrap: wrap;
            }
        }

        .imgboxb {
            padding: 200px 0 0 0;
        }

        .margin {
            padding: 0;
        }
    }

    .day {

        // .res-wrap{
        //     display: flex;
        //     flex-wrap: wrap;
        // }
        .imbboxd {
            width: 300px;
            height: 500px;

        }




    }
}

@media screen and (max-width:768px) {
    .look {
        left: 0;
        right: 0;
        top: -300px;

    }

    .head2-responsive {
        display: none !important;
    }

    .head1 {

        .header2 {
            padding: 0 0 0 70px;

        }
    }

    .lead {
        .section {
            padding: 10px !important;
            margin: 80px 0 0;
            right: 0;
            left: 0;

            form {
                flex-direction: column !important;

                .ahref {
                    width: 180px;
                }

                .form1 {
                    select {
                        option {
                            width: 200px;
                        }
                    }
                }

            }
        }

        .imgboxb {
            .imgbox {
                margin: 100px 0 0;

                img {
                    width: 100% !important;
                }
            }
        }

        .margin {
            margin: 0px;
            padding: 0px;
        }

    }

    .day {
        .imbboxd {
            margin: 0 !important;
            width: 100% !important;

        }
    }

    .margin-top-res {
        margin-top: 80px !important;
    }

    .list {
        .properties {
            .ahref {
                margin: 10px 100px;

            }
        }
    }

    .focus {
        .ahref {
            margin: 10px 100px;
        }
    }

    .apartment {
        .plan {
            .ahref {
                margin: 10px 100px;
            }
        }
    }

    .find {
        padding: 30px 0 80px;

        h1 {
            font-size: 30px;
        }

    }


    .aminities {
        .ahref-build {
            .iconbox {
                margin: 0;
                padding: 0;
            }

            .iconbox-arrow {
                left: 20px;
            }
        }
    }

    .client {
        .feedback {
            padding: 30px;
            margin: 20px 20px 30px;
        }
    }

    .leatest {
        .leat {
            .ahref-by {
                .decorate {
                    padding: 0 !important;
                }
            }
        }

    }

    .news {
        .news-full {
            .sunt {
                .info {
                    padding: 20px;
                }
            }


        }
    }

    .footer-full {
        .footer {
            padding: 20px;
        }

        .footer-1 {
            .footer-2 {
                padding: 10px 20px;
            }
        }
    }

    .address {
        margin: 0;

        .textbox {
            margin: 15px 0;
        }
    }

    .feeds {
        margin-bottom: 50px;
    }

    .get {
        .quote {
            padding: 15px;
        }
    }

    .detaile {
        .border {
            padding: 0;
            .viral{
                
            }

        }
    }


    .property {
        .property-1 {
        .defoult{
            display: flex;
            flex-wrap: wrap;
            .page{
                margin: 10px 0 20px ;
            }
        }
        }

    }
}