* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head1{
    a{
        text-decoration: none;

    }
}
.head2{
    a{
        text-decoration: none;
    }
}
.find{
    text-decoration: none;
}
.lead{
    .section{
        form{
            .ahref{
                a{
                    text-decoration: none;
                }
            }
        }
    }
    .margin{
        text-decoration: none;
        ul{
            list-style: none;
        }
        .ahref2{
            a{
                text-decoration: none;
            }
        }
        .ahref3{
            a{
                text-decoration: none;
            }
        }
    }

}
.day{
    padding: 80px 0;
    .ahref{
        a{
            text-decoration: none;
        }
    }
    .ul3{
        ul{
            list-style: none;
            display: flex;
            gap: 20px;
        }
    }
    .imbboxd{
        margin:0 80px;
        width: 540px;
        height: 573px;
    }
}